body {
  font-family: sans-serif;
  color: black;
  background-color: white;
}

body {
  margin: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#map {
      position:absolute;
      width: 100%;
      height: 100%;
    }

.alien {
  height: 24px;
}

#test {
  background-color: black
}

h1 {
color: white;
}

#controls {
  z-index: 10;
  position: absolute;
  margin-top: 15px;
  margin-left: 15px;
}

#day-counter {
  color: white;
  margin-top: 10px;

}

.dayC {
  color: white;
  /*margin-top: 10px;*/
  font-size: 30px;
  font-weight: bold;
}

.day-container {
  margin-top: 10px;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  background-color: #717575;
  font-family: sans-serif;
  color: white;
  /*font-weight: bold;*/
  font-size: 14px;
}

#hey {
  font-size: 50px;
  color: #8AFF49;
  font-weight: bold;
}

#vis-button-container {
  margin-top: 30px
}


label {
  color: white;
}

#show-markers {
  font-weight: bold;
  background-color: #8AFF49;
}
