body {
  font-family: sans-serif;
  color: black;
  background-color: white;
}

body {
  margin: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#map {
      position:absolute;
      width: 100%;
      height: 100%;
    }

.alien {
  height: 24px;
}

#test {
  background-color: black
}

h1 {
color: white;
}

#mulder {
  z-index: 10;
  position: absolute;
  margin-top: 15px;
  margin-left: 28px;
}

#controls {
  z-index: 10;
  position: absolute;
  margin-top: 110px;
  margin-left: 28px;
}

#day-counter {
  color: white;
  margin-top: 10px;

}

/*.dayC {
  color: white;
  margin-top: 10px;
  font-size: 30px;
  font-weight: bold;
}*/

.day-container {
  margin-top: 10px;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.mapboxgl-popup {
  max-width: 250px;
}

.mapboxgl-popup-content {
  background-color: #717575;
  font-family: sans-serif;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

#hey {
  font-size: 60px;
  color: #8AFF49;
  font-weight: bold;
}

#vis-button-container {
  /*margin-top: 30px*/
  margin-top: 10px;
  margin-bottom: 10px;
}


label {
  color: white;
}

#show-markers {

  color: #8AFF49;
  background-color: grey;
  font-weight: bold;
}

#total-counter {
  color: #ABB7BF;
  font-size: 95px;
  margin-bottom: -20px;
  margin-top: -25px;
}

#ufo-sightings {
  /*margin-top: 10px;*/
  margin-bottom: 10px;
  color: #ABB7BF;
  font-size: 20px;
  font-weight: bold;
}

#btn-div {
  margin-top: 10px;
}

#start-button {
  font-weight: bold;
  background-color: #8AFF49;
}
